flake8
astropy
beautifulsoup4
ccxt
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
diffusers
docker
einops
elevenlabs
fake-useragent
flask
folium
geopy
GitPython
gym
h5py
huggingface-hub
ipython
joblib
librosa
matplotlib
networkx
numpy
onnx
opencv-python
osmnx
pandas
Pillow
playwright
plotly
polyline
psutil
pyaudio
pyautogui
pygame
Pygments
PyPDF2
pytesseract
pytest
python-dateutil
pyttsx3
qiskit
qiskit-machine-learning
redis
requests
safetensors
scikit-learn
scipy
selenium
smbus2
sympy
ta
tensorflow
timm
tokenizers
torchaudio
torch
torchvision
tqdm
transformers
websockets
Werkzeug
yfinance
PyYAML

